/*Estilização da página incial*/

:root {

    font-size: 20px;
    --fonte-normal: 'Poppins', sans-serif;
    --fonte-titulo: 'Fjalla One', sans-serif;
    --cor-cinza-claro: #f5f5f5;
    --cor-azul-escuro:#2B468B;
    --cor-texto-fundo-claro:#01273D;
    --cor-texto-fundo-escuro: #edede9;

}

* {

    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte-normal)
}

html, body, header {

    margin:0px !important;
    padding: 0px !important;
 }



/*--Estilização do cabeçalho--*/

.imagens {

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.img, .img-laranja {

    width: 450px;

}

/*Navegação e menu hamburguer responsivo*/

.nav-list {

    display: flex;
    gap: 50px;
    margin-top: 1rem;

}

.nav-item {

    list-style-type: none; 

}

.nav-link {
    
    text-decoration: none;
    color: var(--cor-texto-fundo-claro); 

}

.nav-link:hover {

    color: #243f81;
    font-size: 22px;

}

.mobile-menu {

    cursor: pointer;
    display: none;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: var(--cor-texto-fundo-claro);

}

/*--Titulo--*/

.titulo {

    /*Texto*/

    font-family: var(--fonte-titulo);
    font-size: 50px;
    line-height: 4rem;
    text-align:left;
    font-weight: lighter;

    /* Cores*/

    color: var(--cor-texto-fundo-claro);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /*Posicionamento*/

    margin: 2rem;
    padding: 1rem;
    padding-bottom: 3rem;
    width: 800px;

}


.section-1 {

    margin: 3rem;
    margin-top: -15rem;
    margin-left: 3rem;
    padding:1rem;
    
}

.acessibilidade {

    background-color: var(--cor-azul-escuro);
    border: medium solid var(--cor-azul-escuro);
    border-radius: 15px;
    color: #F6F6F6;
    text-decoration: none;
    padding: 1.50rem;
    margin: 3rem;

}

/*Resposividade do menu hamburguer*/

@media (max-width: 999px) {

    body {

        overflow-x: hidden;

    }

    .img {

        display: none;
    }

    .nav-list {

        position: absolute;
        margin-top: 0;
        right: 0;
        width: 50vw;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--cor-azul-escuro);
        transform: translateX(110%);
        transition: transform 0.3s ease-in;
    }

    .nav-item {
        
        margin-left: 0;
        opacity: 0;
    }

    .nav-link {
        color: var(--cor-texto-fundo-escuro);
    }

    .mobile-menu {

        display: block;
    
    }

    .titulo {

        line-height: 50px;
        font-size: 40px;
        width: 450px;
        margin: 1rem;
        padding: 1rem;

    }

    .nav-list.active {

        transform: translateX(0);

    }

    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);

        }

        to {
            opacity: 1;
            transform: translateX(0);

        }
    }

    .img-laranja {

        width: 325px;
    }

    .section-1 {

        margin: 2rem;
        margin-left: 4rem;
        margin-top: -225px;
        margin-bottom: 20px;
        padding: 1rem;

    }

    .section-1 a {

        margin: 1.50rem;
        border-radius: 5px;
        font-size: 15px;
        padding: 20px;

    }
    
}