:root {

    font-size: 20px;
    --fonte-normal: 'Poppins', sans-serif;
    --fonte-titulo: 'Fjalla One', sans-serif;
    --cor-cinza-claro: #f5f5f5;
    --cor-azul-escuro:#2B468B;
    --cor-texto-fundo-claro:#01273D;
    --cor-texto-fundo-escuro: #edede9;
    --cor-azul-claro: #9ccef1;

}

* {

    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte-normal)
}

html, body, header {

    margin:0px !important;
    padding: 0px !important;
 }

/*--Estilização do cabeçalho--*/

.imagens {

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.img-laranja {

    width: 350px;
    height: 350px;

}

.img {

    width: 450px;

}
/*--Section "O que é acessibilidade"--*/

.acessibilidade {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem;
    width: 80%;


}

.acessibilidade:focus-visible {

    border: #192bc2 solid 7px;
    outline: none;
}


.acessibilidade-titulo {

    color: var(--cor-texto-fundo-claro);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: auto;
    margin-top: -300px;
}

.acessibilidade-titulo:focus-visible {

    border: #192bc2 solid 7px;
    outline: none;
}

.acessibilidade-p {

    color: var(--cor-texto-fundo-claro);
    font-size: 25px;
    padding: 1rem;

}

.acessibilidade p:focus-visible {

    border: #192bc2 solid 7px;
    outline: none;
}


.acessibilidade img {

    width: 100%;

}

.acessibilidade img:focus-visible {

    border: #192bc2 solid 7px;
    outline: none;
}

