:root {

    font-size: 20px;
    --fonte-normal: 'Poppins', sans-serif;
    --fonte-titulo: 'Fjalla One', sans-serif;
    --cor-cinza-claro: #f5f5f5;
    --cor-azul-escuro:#2B468B;
    --cor-texto-fundo-claro:#01273D;
    --cor-texto-fundo-escuro: #edede9;
    --cor-azul-claro: #6EB2E3;

}

* {

    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte-normal)
}

html, body, header {

    margin:0px !important;
    padding: 0px !important;
 }

/*--Estilização do cabeçalho--*/

.imagens {

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.img, .img-laranja {

    width: 450px;

}

/*--Section "O que é acessibilidade"--*/

.acessibilidade {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem;
    max-width: 1600px;
    min-width: 320px;


}

.acessibilidade-titulo {

    color: var(--cor-texto-fundo-claro);
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: auto;
    margin-top: -300px;
}

.acessibilidade-p {

    color: var(--cor-texto-fundo-claro);
    font-size: 25px;
    padding: 1rem;

}


.acessibilidade img {

    width: 100%;

}

/*Navegação e menu hamburguer responsivo*/

.nav-list {

    display: flex;
    gap: 50px;
    margin-top: 1rem;

}

.nav-item {

    list-style-type: none; 

}

.nav-link {
    
    text-decoration: none;
    color: var(--cor-texto-fundo-claro); 

}

.mobile-menu {

    cursor: pointer;
    display: none;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: var(--cor-texto-fundo-claro);

}


/*Resposividade do menu hamburguer*/

@media (max-width: 999px) {

    body {

        overflow-x: hidden;

    }

    .img {

        display: none;
    }

    .nav-list {

        position: absolute;
        margin-top: 2rem;
        right: 0;
        width: 50vw;
        height: 70vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--cor-azul-claro);
        transform: translateX(110%);
        transition: transform 0.3s ease-in;
    }

    .nav-item {
        
        margin-left: 0;
        opacity: 0;
    }

    .nav-link {
        color: var(--cor-texto-fundo-escuro);
    }

    .mobile-menu {

        display: block;
    
    }

    .nav-list.active {

        transform: translateX(0);

    }

    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);

        }

        to {
            opacity: 1;
            transform: translateX(0);

        }
    }


}