/*Estilização da página incial*/

:root{
    font-size: 20px;
    --fonte-normal: 'Roboto', Arial, Helvetica, sans-serif;
    --cor-azul-claro: #8ECAE6;
    --cor-azul-quente:#003554;
    --cor-letra-fundo-claro:#001d3d;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/*--Estilização do cabeçalho--*/

header{

    /*Cores*/

    background-color: var(--cor-azul-claro);

    /*Posicionamento*/

    display: flex;
    justify-content: space-between;

    /*Tamanho*/

    width: 100%;

}

.logo{

    /*Posicionamento*/

    margin: 1vh;
}

.nav-menu{

    /*Tamanho*/

    /*Posicionamento*/

    display: flex;
    gap: 50px;
    margin: 1vh;
    padding: 20px;

}

.nav-menu a{

    /*Cores e texto*/

    color: var(--cor-letra-fundo-claro);
    text-decoration: none;

    /*Posicionamento*/

}


/*--Main--*/

main{

    /*Tamanho*/

    height: 76vh;
}

/*--Titulo--*/

.titulo{

    /*Texto*/

    font-style: normal;
    font-weight: 400;
    font-size: 30.3158px;
    line-height: 36px;

    /* Cores */

    color: var(--cor-azul-quente);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;

    /*Posicionamento*/

    padding-right: 800px;
    padding-top: 20px;
}


/*--Footer--*/

footer{

    /*Cores*/

    background-color: #003554;
    color: #fff;

    /*Posicionamento*/

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    /*Tamanho*/
    height: 20vh;
    width: 100%;
}