/*Estilização da página incial*/

:root{
    font-size: 20px;
    --fonte-normal: 'Poppins', sans-serif;
    --fonte-titulo: 'Fjalla One', sans-serif;
    --cor-cinza-claro: #f5f5f5;
    --cor-azul-escuro:#2B468B;
    --cor-texto-fundo-claro:#01273D;
    --cor-texto-fundo-escuro: #edede9;
    --cor-tom-laranja-claro: #FADDBF;

}

* {
    
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--fonte-normal)
}

html, body, header{
    margin:0px !important;
    padding: 0px !important;
 }

body {
    background-color: var(--cor-cinza-claro);
}

/*--Footer--*/

footer{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 77px 3px 8px 24px;
    gap: 30px;

    background: #F6F6F6;
    border-radius: 0px;

}
